<div class="container">
  <h2>Schemalagda Stugor</h2>
  <p>Schemalagda tider f&ouml;r stugors p&aring;- och avslagning av el</p>
  <p>Klicka p&aring; ett schema f&ouml;r att redigera det. Klicka p&aring; ett stugnamn f&ouml;r att se stugans scheman</p>
  <a href="/form" class="btn btn-info btn-md">L&auml;gg till schema</a>            
  <a href="/add_unit" class="btn btn-info btn-md">L&auml;gg till stuga</a>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Schema Start</th>
        <th>Schema Stopp</th>
        <th>Stuga</th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr class='clickable-row' data-href='/schedules/<%= schedule.id %>/<%= schedule.unit_id %>'>
          <td><%= schedule.start.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= schedule.stop.strftime("%Y-%m-%d %H:%M") %></td>
          <td><a href="/unit/<%= schedule.unit.id %>"><%= schedule.unit.unit %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>

