<div class="container">
  <h2>Schemalagda Stugor</h2>
  <p>Schemalagda tider f&ouml;r stugors p&aring;- och avslagning av el</p>
  <p>Klicka p&aring; ett schema f&ouml;r att redigera det. Klicka p&aring; ett stugnamn f&ouml;r att se stugans scheman</p>
  <a href="/admin" class="btn btn-info btn-md">Administrera</a>
  <form action="/form" method="post" role="form" >
    <div class="form-group">
      <label for="Units-1"></label>
      <select class="form-control" id="units-1" name="id" onchange="this.form.submit()">
        <option>Skapa schema f&ouml;r stuga</option>
        <% @units.each do |line| %>
          <option value="<%= line.id %>"><%= line.unit%></option>
        <% end %>
      </select>
    </div>
  </form>
  <label for="Units-2"></label>
  <select class="form-control" id="units-2" name="id" onchange="location = this.options[this.selectedIndex].value;">
    <option>G&aring; till stuga</option>
    <% @units.each do |line| %>
      <option value="/unit/<%= line.id %>"><%= line.unit%></option>
    <% end %>
  </select>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Schema Start</th>
        <th>Schema Stopp</th>
        <th>Stuga</th>
	<th>Rum</th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |schedule| %>
        <tr class='clickable-row' data-href='/schedules/<%= schedule.id %>'>
          <td><%= schedule.start.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= schedule.stop.strftime("%Y-%m-%d %H:%M") %></td>
          <td><a href="/unit/<%= schedule.id %>"><%= schedule.unit %></a></td>
          <td><%= schedule.room%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>

